* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: F8F8F8;
}
.project-management-board {
    background-color: azure;
width: 80%;
height: auto;
margin: 1rem auto;
border: 1px solid black;
padding: 4rem 2rem;
border-radius: 0.75rem;

}

.project-list {
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f3f3f3;
}
.left-list-container {
    width: 34%;
}
.top-left-list {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right-list-container {
    margin-right: 20px;
    width: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.complete button{
    background-color: aquamarine;
    border-radius: 0.3rem;
}
    
@media (max-width: 768px) {
    .right-list-container button {
        display: none;
    }
}